@import "stripe.css";
@import "SalsaCalendar.min.css";
/* @import "jquery.flexdatalist.css"; */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

/* Selection */
::selection {
	color: #fff;
	background: #000;
}
::-moz-selection {
	color: #fff;
	background: #000;
}

/* Scroll bar for non-Firefox browsers*/
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb;
}

/* Standard elements */
* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	color: #000;
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

li {
	list-style: none;
}

li.s,
ul.s {
  list-style-type: square;
}

li.c,
ul.c {
  list-style-type: circle;
}

p.app_key {
	font-size: 1.5em;
	text-align: center;
}

div.sec_hide {
	/* display: none; */
	color: transparent;
	text-shadow: 0 0 8px rgba(0,0,0,0.9);
	display: inline;
}

div.sec_show {
	display: inline;
}

pre code.devblock {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 4px solid #198eac;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 0.8em;
  line-height: 1.2;
  margin-bottom: 1.2em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

pre code.devblock span.red {
  color: #aa4f4f;
}

pre code.devblock span.green {
  color: #4aaa4a;
}

pre code.devblock span.blue {
  color: #5858aa;
}

pre code.devblock span.purple {
  color: #a044a0;
}

pre code.devblock span.orange {
  color: #c08233;
}

pre.dev_key,
pre.dev_code {
	font-size: 0.6em;
	text-align: left;
}

pre.dev_code {
	font-family: "monospace", "mono", "Andale Mono", "Courier", "Droid Sans Mono", "Courier New";
	border-radius: 4px;
	padding: 8px;
}

pre.app_key {
	font-family: "monospace", "mono", "Andale Mono", "Courier", "Droid Sans Mono", "Courier New";
	background-color: #ddd;
	border-radius: 4px;
	padding: 8px;
}

pre.dev_key {
	font-family: "monospace", "mono", "Andale Mono", "Courier", "Droid Sans Mono", "Courier New";
	border-radius: 4px;
	padding: 8px;
}

pre.live_key {
	background-color: #d8e9d8;
}

pre.test_key {
	background-color: #e9e9d8;
}


/* Responseive width header/footer */
/* Desktop */
@media only screen and (min-width: 52em) {
	/* wrapper */
	div#wrap {
		width: 100%;
		margin: 0 auto;
	}
	div.footer {
		position: fixed;
		height: 1em;
	}
	div.footer p {
		font-size: 0.7em;
		padding: 0.2em;
		line-height: 0.9em;
	}
	/* Top Nav */
	div#top_menu_nav {
		overflow: hidden;
		background-color: #fff;
		top: 0;
		height: 8em;
		width: 100%;
		position: fixed;
	}
	/* Search */
	input.searchbar {
		width: 17em;
	}
	/* Containers */
	div.main_non_ads_page {
		top: 2.8em;
	}
	div.main_ads_page {
		top: 8em;
	}
	div#login_notice_wrapper {
		text-align: center;
	}
	div#login_notice {
		display: inline-block;
		width: 100%;
		top: 0;
		padding: 0.2em 0;
		text-align: center;
	}
	div.badadlogo {
		width: 24em;
		display: block;
		margin: auto;
	}
	img#badadlogo {
		max-width: 100%;
		margin: 0;
	}
  div#topnav {
    height: 2.8em;
		min-width: 51em;
		padding: 0 0.3em 0;
  }
	div#catnav {
		height: 2.4em;
		min-width: 51em;
		padding: 0.1em 0.3em 0.1em;
	}
	div#topsearch {
		height: 2.6em;
		min-width: 51em;
		padding: 0.1em 0.5em 0.1em;
	}
	/* Top Nav boxes */
	div#userMeta.main_ads_page {
		top: -5.22em;
	}
	div#userMeta.main_non_ads_page {
		top: 0;
	}
	div.catDrop {
		top: 8em;
	}
	div.tagDrop {
		top: 8em;
	}
}
/* Narrow */
@media only screen and (max-width: 52em) {
	/* wrapper */
	div#wrap {
		min-width: 25em;
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	div.footer {
		position: relative;
		height: 7em;
	}
	div.footer p {
		font-size: 1em;
		padding: 0.2em;
		line-height: 1.3em;
	}
	/* Top Nav */
	div#top_menu_nav {
		overflow: hidden;
		background-color: #fff;
		top: 0;
		width: 100%;
		position: relative;
	}
	/* Search */
	input.searchbar {
		width: 14em;
	}
	/* Containers */
	div#login_notice_wrapper {
		text-align: center;
	}
	div#login_notice {
		display: inline-block;
		width: 100%;
		padding: 0.2em 0;
		text-align: center;
	}
	div.badadlogo {
		width: 15em;
		display: block;
		margin: auto;
		padding-top: 0.2em;
	}
	img#badadlogo {
		width: inherit;
  	max-width: 100%;
  	height: auto;
	}
	div#topnav {
    height: 2.8em;
		min-width: 28em;
		padding: 0 0.1em;
  }
	div#catnav {
		height: 4.8em;
		min-width: 32em;
		padding: 0 0.1em;
	}
	div#topsearch {
		height: 2.6em;
		min-width: 38em;
		padding: 0 0.1em;
	}
	/* Top Nav boxes */
	div#userMeta.main_ads_page {
		top: -10em;
	}
	div#userMeta.main_non_ads_page {
		top: 0;
	}

}
/* Phablet */
@media only screen and (max-device-width: 1079px) {
	/* wrapper */
	div#wrap {
		width: auto;
		margin: 0 auto;
		padding: 0;
	}
	div.footer {
		position: relative;
		height: 7em;
	}
	div.footer p {
		font-size: 1em;
		padding: 0.2em;
		line-height: 1.3em;
	}
	/* Top Nav */
	div#top_menu_nav {
		overflow: hidden;
		background-color: #fff;
		top: 0;
		width: 100%;
		position: relative;
	}
	/* Search */
	input.searchbar {
		max-width: 14em auto;
	}
	/* Containers */
	div#login_notice_wrapper {
		text-align: center;
	}
	div#login_notice {
		display: inline-block;
		width: 100%;
		top: 0;
		padding: 0.2em 0;
		text-align: center;
	}
	div.badadlogo {
		width: 15em;
		display: block;
		margin: auto;
		padding-top: 0.2em;
	}
	img#badadlogo {
		width: inherit;
  	max-width: 100%;
  	height: auto;
	}
	div#topnav {
    height: 2.6em;
		min-width: 18em;
		padding: 0 0.3em 0;
  }
	div#catnav {
		height: 4.8em;
		min-width: 20em;
		padding: 0.1em 0.3em 0.1em;
	}
	div#topsearch {
		height: 4.2em;
		min-width: 18em;
		padding: 0 0.3em;
	}
}


/* Nav buttons */
ul.headnav li {
	margin: 8px 4px 8px 4px;
}
ul.categories li,
ul.filters li {
	margin: 5px 2px 5px 2px;
}

ul.headnav li button.buy.nav { /* Spacing to compensate for the border */
	margin: -2px;
}
button.buy.nav {
	background-color: #198eac;
	border-radius: 10px;
	border-width: 2px;
	border: solid;
	border-color: #198eac;
}
button.buy.nav:hover {
	border-radius: 10px;
	border-color: #198eac;
}

/* Commented, may use in future */
/* Bogs & Podcast nav buttons */
/* ul.headnav li button.partner.nav {
	background: transparent;
	border-radius: 10px;
	border-width: 2px;
	border: solid;
	border-color: transparent;
}
ul.headnav li button.partner.nav:hover {
	background: #777;
	border-radius: 10px;
	border-color: #5c4199;
} */

button.nav,
button.cat_nav,
button.search_nav {
	border-radius: 0;
	background: transparent;
}
button.nav:hover,
button.cat_nav:hover,
button.search_nav:hover {
	border-radius: 0;
	background: #777;
}

button.tag_nav {
	font-weight: bold;
	border-radius: 0;
	border: 1px solid #444;
	padding: 2px 4px 4px 4px;
	background: #202020;
}
button.tag_nav:hover {
	font-weight: bold;
	border-radius: 0;
	border: 1px solid #777;
	padding: 2px 4px 4px 4px;
	background: #777;
}

/* headings */
.heading {
	text-align: center;
}
h3.ads {
	font-size: 3em;
	text-align: center;
}
h4.ads {
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
}
h3.stats {
	font-size: 3em;
	text-align: left;
}

div.heading {
	padding: 0;
	margin: 0 auto;
	height: auto;
	background: #fff;
}

/* Meta box */
div.outerMetaContainer {
	float: right;
	width: 300px; /* This must be the size of the #userMeta width, padding, and border-width */
}
div#userMeta {
  position: absolute;
  width: 250px;
  background-color: #fff;
	padding: 10px;
	border: solid;
	border-width: 15px;
	border-color: #404040;
  z-index: 2;
}
div.catDrop {
  position: absolute;
  width: 275px;
  background-color: #fff;
	padding: 10px;
	border: solid;
	border-width: 3px;
	border-color: #333;
  z-index: 2;
}
div.tagDrop {
	position: absolute;
  width: 275px;
  background-color: #fff;
	padding: 10px;
	border: solid;
	border-width: 3px;
	border-color: #333;
  z-index: 2;
}
div.closeButton {
	float: right;
}

/* User nav */
div#topnav {
	background-color: #404040;
}
div#topnav ul {
	list-style: none;
	padding: 0;
	height: 100%;
	background-color: #404040;
	margin: 0;
	position: relative;
}
div#topnav ul li {
	display: inline;
	float: left;
	background-color: #404040;
	padding: 10;
}
div#topnav ul li.user {
	float: right;
}
div#topnav ul li.selected {
	background-color: #353535;
}
div#topnav ul li.selected a, div#topnav ul li.selected a:visited {
	color: #fff;
	background-color: #353535;
}
div#topnav ul li.selected a, div#topnav ul li.selected a:hover {
	background-color: #353535;
	display: block;
	cursor: pointer;
}
div#topnav ul li a, div.nav ul li a:visited {
	float: left;
	margin: 0 5px;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}
div#topnav ul li a:hover {
	background-color: #353535;
	padding: 0;
}
div#topnav ul li a:hover {
	background-color: #353535;
	display: block;
	padding: 10px;
	cursor: pointer;
}

/* Category nav */
div#catnav {
	background-color: #202020;
}
div#catnav ul {
	list-style: none;
	padding: 0;
	height: 100%;
	background-color: #202020;
	margin: 0;
	position: relative;
}
div#catnav ul li {
	display: inline;
	float: left;
	background-color: #202020;
	padding: 10;
}
div#catnav ul li.selected {
	background-color: #353535;
}
div#catnav ul li.selected a, div#catnav ul li.selected a:visited {
	color: #fff;
	background-color: #353535;
}
div#catnav ul li.selected a span, div#catnav ul li.selected a:hover span {
	background-color: #353535;
	display: block;
	cursor: pointer;
}
div#catnav ul li a, div.nav ul li a:visited {
	float: left;
	margin: 0 5px;
	padding: 15px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}
div#catnav ul li a:hover {
	background-color: #353535;
	padding: 0;
}
div#catnav ul li a:hover span {
	background-color: #353535;
	display: block;
	padding: 10px;
	cursor: pointer;
}

/* Search nav */
div#topsearch {
	background-color: #333;
}
div#topsearch ul {
	list-style: none;
	padding: 0;
	height: 100%;
	background-color: #333;
	margin: 0;
	position: relative;
}
div#topsearch ul li {
	display: inline;
	float: left;
	background-color: #333;
	padding: 10;
}
div#topsearch ul li.search {
	float: right;
}
div#topsearch ul li.filter {
	float: left;
}
div#topsearch ul li.selected {
	background-color: #353535;
}
div#topsearch ul li.selected a, div#topsearch ul li.selected a:visited {
	color: #fff;
	background-color: #353535;
}
div#topsearch ul li.selected a, div#topsearch ul li.selected a:hover {
	background-color: #353535;
	display: block;
	cursor: pointer;
}
div#topsearch ul li a, div.nav ul li a:visited {
	float: left;
	margin: 0 5px;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}
div#topsearch ul li a:hover {
	background-color: #353535;
	padding: 0;
}
div#topsearch ul li a:hover {
	background-color: #353535;
	display: block;
	padding: 10px;
	cursor: pointer;
}

/* footer */
div.footer {
	clear: both;
	width: 100%;
	min-width: 100%;
	border-top: 1px solid #7d7d7d;
	background: #111;
	bottom: 0;
}
div.footer p {
	text-align:center;
	color: #eeeeee;
}
div.footer p a {
	color: #eeeeee;
}

/* headers */
h1 {
	font-size: 3em;
	padding: 0 0 10px 0;
	text-align: left;
}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration: none;
	color: #000;
}
h2 {
	text-align: left;
	padding: 0 0 10px 0;
	font-size: 1.3em;
	color: #888;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h3 {
	font-size: 1.5em;
	font-family:'Lucida Sans Unicode','Lucida Grande',verdana,sans-serif;
	font-weight: normal;
	color: #333;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	padding: 15px 15px 15px 20px;
}

h5 {
	font-family: "monospace", "mono", "Andale Mono", "Courier", "Droid Sans Mono", "Courier New";
	font-size: 0.9em;
	font-weight: bold;
	padding: 12px;
}

h6 {
	font-family: "monospace", "mono", "Andale Mono", "Courier", "Droid Sans Mono", "Courier New";
	font-size: 0.8em;
	font-weight: bold;
	padding: 10px;
}

div.title {
	background: #222;
	padding: 0;
}
div.title h4 {
	background: #222;
	color: #fff;
}
div.small-title h4 {
	border-bottom: 1px solid #ccc;
	color: #222;
	padding: 5px;
}


/* element defaults */
p {
	margin-bottom:20px;
	line-height: 1.7em;
	font-size: 0.95em;
	color: #000;
}
ul {
	padding: 0 0 20px 35px;
	list-style: none;
}
ol {
	padding: 0 0 20px 35px;
}
code.bordered {
	border: 1px solid #1c1c1c;
	border-left-width: 10px;
	display: block;
	padding: 10px;
	margin: 10px 0;
}
code.inline {
	border: none;
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-style: normal;
}

/* special paragraph classes */
p.info {
	margin-bottom: 15px;
}

p.pay_with {
	margin-bottom:20px;
	line-height: 1.5em;
	font-size: 1.1em;
	color: #444;
}

/* make border-radius and other styles work on buttons & forms */
div {
	border-radius: 0;
}

/* special div classes */

div.inline {
	display: inline-block;
}
div.inline div.left {
	float: left;
}
div.inline div.right {
	float: right;
}
div.full {
	width: 100%;
	margin: auto;
}
div.center {
	text-align: center;
	margin: auto;
}

div.ad_preview {
	background-color: #fff;
}

div.money {
	background-color: #ddffdd;
	padding: 15px;
	border-radius: 15px;
	overflow: hidden;
}

div.payment_error {
	background-color: #eee;
	padding: 15px;
	border-radius: 15px;
	overflow: hidden;
}

div.ad_preview hr {
	width: 50%;
	margin: auto;
}

div.pricing {
	line-height: 1.6em;
	font-size: 1.4em;
	color: #333;
}

div.beta_boost_box {
	background-color: #aaddff;
	padding: 12px;
	border-radius: 12px;
	overflow: hidden;
}

div.info {
	line-height: 1.7em;
	font-size: 0.95em;
	color: #333;
}

/* default forms */
fieldset {
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 10px;
}
fieldset legend {
	font-size: 0.9em;
	color: #333;
	font-weight: bold;
	padding: 0 10px 0 0;
	background-color: #fff;
}
input.error.tfa_code {
	border: 2px solid #870518;
}

/* Ad fields */
input.error.ad_text_input,
textarea.error.ad_text_input,
select.error.ad_text_input,
input.error.ad_text_input#hdng,
input.error.ad_text_input#dscr,
input.error.ad_text_input#info,
input.error.ad_text_input#pyrt,
input.error.ad_text_input#bizn {
	text-align: center;
	border: 2px solid #870518;
}
input.error.ad_text_input#nick,
input.error.ad_text_input#cntc,
input.error.ad_text_input.taglist,
input.error.flexdatalist.form-control#taglist {
	border: 2px solid #870518;
}

input.ad_text_input {
	width: 95%;
	margin: 0;
	padding: 0;
	cursor: text;
}
input.ad_text_input#nick {
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #ddd;
	text-align: left;
}
input.ad_text_input#hdng {
	font-weight: bold;
	font-style: normal;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #eee;
	text-align: center;
}
input.ad_text_input#dscr {
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #eee;
	text-align: center;
}
input.ad_text_input#info {
	font-weight: normal;
	font-style: italic;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #eee;
	text-align: center;
}
input.ad_text_input#pyrt {
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #eee;
	text-align: center;
}
input.ad_text_input#bizn {
	font-weight: bold;
	font-style: italic;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #eee;
	text-align: center;
}
input.ad_text_input#cntc {
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #ddd;
	text-align: left;
}
input.ad_text_input.taglist {
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 5px;
	color: #000;
	border-color: #ddd;
	text-align: left;
}
.flex0 {
  padding: 5px;
}

/* User & standard fields */
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number] {
	font-family: Verdana, Helvetica, sans-serif, Arial;
	font-size: 0.9em;
	font-weight: normal;
	font-style: normal;
	color: #222;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
}
/* TFA code input*/
input[type=number].tfa_code {
	font-family: "monospace", "mono", "Andale Mono", "Courier", "Droid Sans Mono", "Courier New";
	font-size:2em;
	color: #222;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
	/* Firefox */
	appearance: textfield;
	-moz-appearance:textfield;
	margin: 0;
}
/* Chrome */
input[type=number].tfa_code::-webkit-outer-spin-button,
input[type=number].tfa_code::-webkit-inner-spin-button {
   -webkit-appearance: none;
	 margin: 0;
}
input[type=number].email_code#email_code {
	width: 175px;
}
input[type=number].sms_code#sms_code {
	width: 175px;
}
input[type=number].google_auth#google_auth {
	width: 125px;
}

/* Ad/Partner setting inputs */
input[type=text].copy_code {
	color: #888;
	width: 92px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
}
input[type=text].copy_link {
	color: #888;
	width: 192px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
}
input[type=number].num_ads {
	color: #222;
	width: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
	/* Firefox */
	appearance: textfield;
	-moz-appearance:textfield;
	margin: 0;
}
/* Chrome */
input[type=number].num_ads::-webkit-outer-spin-button,
input[type=number].num_ads::-webkit-inner-spin-button {
   -webkit-appearance: none;
	 margin: 0;
}


textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
}
form { }
form input, form textarea {
	border: 1px solid #999;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
	padding: 5px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
}
form input.formbutton {
	background: #323232;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton:hover {
	background: #343434;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_badad {
	background: #198eac;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_badad:hover {
	background: #1b90ae;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_green {
	background: #38752c;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_green:hover {
	background: #407536;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_yellow {
	background: #b89a32;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_yellow:hover {
	background: #b8a04d;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_orange {
	background: #a07632;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_orange:hover {
	background: #af8239;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_red {
	background: #881c1d;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_red:hover {
	background: #883334;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_blue {
	background: #1f54a1;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_blue:hover {
	background: #3561a1;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_disabled {
	background: #888;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_disabled:hover {
	background: #888;
	color: #fff;
	cursor: not-allowed;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_gray {
	background: #888;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_gray:hover {
	background: #999;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.formbutton_violet {
	background: #4c3189;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.formbutton_violet:hover {
	background: #553e89;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form select.formselect {
	color: #000;
	background: #ddd;
	font-size: 0.9em;
	border: none;
	padding: 5px 25px 5px 5px;
	font-weight: normal;
	font-family: Verdana, Helvetica, sans-serif, Arial;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	background: url(da_16-whitetheme.png) no-repeat right #ddd;

}
form select.formselect:hover {
	cursor: pointer;
}

input.startselect {
	background: #198eac;
	color: #fff;
	cursor: pointer;
	font-size: 2em;
	border-color: #198eac;
	border-style: solid;
	border-width: 10px;
	border-radius: 15px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
input.startselect:hover {
	background: #2a9fbd;
	color: #fff;
	cursor: pointer;
	font-size: 2em;
	border-color: #2a9fbd;
	border-style: solid;
	border-width: 10px;
	border-radius: 15px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

select.startselect {
	color: #000;
	background: #ddd;
	font-size: 2em;
	border: none;
  outline: none;
	padding: 5px 25px 5px 5px;
	font-weight: normal;
	font-family: Verdana, Helvetica, sans-serif, Arial;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
}
select.startselect:hover {
	cursor: pointer;
}

form input.error, textarea.error, select.error {
	border: 2px solid #870518;
}

/* default tables */
table.sitestable {
	width: 100%;
	margin-bottom: 10px;
}

table {
	width: 100%;
	margin-bottom: 10px;
}
table tr th, table tr td {
	padding: 5px 10px;
}
table tr th {
	background: #1c1c1c;
	color: #fff;
	text-align: left;
}
table tr td {
	border-bottom: 1px solid #dddddd;
}
table tr td.nobottomborder {
	border-bottom: none;
}
table tr.waiting {
	background: #efefef;
	font-style: italic;
}
table tr.oversight {
	background: #cfefef;
}
table.startselect tr td {
	border-bottom: none;
	text-align: center;
	vertical-align:top;
}
table.startselect tr td p {
	font-size: 1.5em;
}
table.startselect tr td p.startinstructions {
	font-size: 2em;
}
table.startselect tr td p.startexample_ad {
	font-size: 1em;
}
table.startselect tr td p.starthighlight {
	font-size: 1.5em;
	text-align: left;
	margin-left: 20px;
}
table.startselect tr td p.startdetails {
	font-size: 0.9em;
	text-align: left;
}
table.startselect tr td ul.startdetails {
	font-size: 0.9em;
	text-align: left;
	list-style: none;
	line-height: 1.5;
}
table.startselect tr td ul.startdetails li:before {
	content: '✓';
}

b.adcontentform {
	color: #198eac;
}

b.editpodcastinfo {
	color: #1f54a1;
}

/* default links */
a {
	color: #404040;
}
a:visited {
	color: #434343;
}
a:hover {
	color: #353535;
}
a.disabled {
	pointer-events: none;
}
a.disabled_preview {
	cursor: pointer;
	pointer-events: none;
}

a.cat_start, a.subcat_start,
.cat_start, .subcat_start {
	background-color: #fff;
	color: #000;
}

/* Roles */
a.role {
	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	color: #d5d5d5;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	cursor: help;
}
a.role_want:hover {
	background-color: #3973bf;
	border-color: #3973bf;
	color: #fff;
}
a.role_selling:hover {
	background-color: #3db13d;
	border-color: #3db13d;
	color: #fff;
}
a.role_agent:hover {
	background-color: #d3ad3c;
	border-color: #d3ad3c;
	color: #fff;
}
/* Soft colors
a.role_want:hover {
	background-color: #a9d9e9;
	border-color: #a9d9e9;
	color: #fff;
}
a.role_selling:hover {
	background-color: #a7e9a7;
	border-color: #a7e9a7;
	color: #fff;
}
a.role_agent:hover {
	background-color: #e8d8a8;
	border-color: #e8d8a8;
	color: #fff;
}
*/

/* Filters */
li.filter.label {
	background-color: #333;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	color: #d5d5d5;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	cursor: default;
}
form input[type=submit].role {
	background-color: #777;
	border-style: solid;
	border-width: 1px;
	border-color: #555;
	color: #d5d5d5;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	cursor: pointer;
}
form input[type=submit].role_want {
	background-color: #3973bf;
	border-color: #3973bf;
	color: #fff;
}
form input[type=submit].role_selling {
	background-color: #3db13d;
	border-color: #3db13d;
	color: #fff;
}
form input[type=submit].role_agent {
	background-color: #d3ad3c;
	border-color: #d3ad3c;
	color: #fff;
}
form input[type=submit].listing_all {
	width: 152px;
	background-color: #333;
	border-style: solid;
	border-width: 1px;
	border-color: #555;
	color: #d5d5d5;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	cursor: pointer;
}
form input[type=submit].listing_business {
	width: 152px;
	background-color: #5f2d8e;
	border-style: solid;
	border-width: 1px;
	border-color: #5f2d8e;
	color: #fff;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	cursor: pointer;
}

/* Centeral page */
div.page {
	clear: both;
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
	padding: 0;
	position: relative;
}
div.main_page {
	clear: both;
	width: 100%;
	min-height: 100%;
	margin: 0;
	color: #000;
	background-color: #fff;
	position: relative;
}
div.main_page ul {
	font-size: 0.95em;
}
div.main_page ul li {
	padding: 0;
	/* background:transparent url('../images/bullet.jpg') no-repeat scroll 10px 50%; */
}


/* Content */
div.content {
	width: 100%;
	float: left;
	padding: 0;
}


/* sidebar */
div.sidebar {
	width:20%;
	float: right;
}
div.sidebar p {
	background-color: #E0E0E0;
	padding: 5px 8px;
	margin-top: 1px;
}
div.sidebar ul {
	list-style: none;
	padding: 0 0 20px;
}
div.sidebar ul li {
	padding: 0;
	/* background:transparent url('../images/bullet.jpg') no-repeat scroll 10px 50%; */
}
div.sidebar ul li a {
	padding: 7px 0 7px 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 1.0em;
	color: #393939;
	display: block;
	border-bottom: 1px solid #dddddd;
}

/* search form */
form.searchform {
}

/* Buttons */
button {
	background: #333;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button:hover {
	background: #444;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.copy_button {
	background: #6688bb;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.copy_button:hover {
	background: #7799cc;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.formbutton_green {
	background: #38752c;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.formbutton_green:hover {
	background: #407536;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.formbutton_yellow {
	background: #b89a32;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.formbutton_yellow:hover {
	background: #b8a04d;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.formbutton_orange {
	background: #a07632;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.formbutton_orange:hover {
	background: #af8239;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.formbutton_red {
	background: #881c1d;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.formbutton_red:hover {
	background: #883334;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.formbutton_blue {
	background: #1f54a1;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.formbutton_blue:hover {
	background: #3561a1;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.formbutton_gray {
	background: #888;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.formbutton_gray:hover {
	background: #999;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

button.formbutton_violet {
	background: #4c3189;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
button.formbutton_violet:hover {
	background: #553e89;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

/* Settings & notices */
a.set_green {
color: #38752c;
}

a.set_gray {
color: #888;
}

a.set_blue {
color: #1f54a1;
}

a.set_red {
color: #881c1d;
}

a.set_violet {
color: #512da5;
}

a.set_yellow {
color: #b89a32;
}

a.set_orange {
color: #a07632;
}

form input.set_green {
	background: #38752c;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_green:hover {
	background: #407536;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.set_yellow {
	background: #b89a32;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_yellow:hover {
	background: #b8a04d;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_orange {
	background: #a97a32;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_orange:hover {
	background: #af8239;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.set_red {
	background: #881c1d;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_red:hover {
	background: #883334;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.set_blue {
	background: #1f54a1;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_blue:hover {
	background: #3561a1;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.set_gray {
	background: #888;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_gray:hover {
	background: #999;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.set_black {
	background: #000;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_black:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

form input.set_violet {
	background: #4c3189;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_violet:hover {
	background: #553e89;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_stat {
	background: #1f459d;
	color: #fff;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}
form input.set_stat:hover {
	background: #264da8;
	color: #fff;
	cursor: pointer;
	font-size: 0.8em;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	font-weight: bold;
	font-family: Verdana, Helvetica, sans-serif, Arial;
}

.note_badad, a.note_badad {
color: #198eac;
}

.note_white, a.note_white {
color: #fff;
}

.note_black, a.note_black {
color: #000;
}

.note_gray, a.note_gray {
color: #888;
}

.note_blue, a.note_blue {
color: #1f54a1;
}

.note_violet, a.note_violet {
color: #4c3189;
}

.note_green, a.note_green {
color: #38752c;
}

.note_yellow, a.note_yellow {
color: #c19d22;
}

.note_red, a.note_red {
color: #881c1d;
}

.back_black {
background: #000;
color: #fff;
}

.back_gray {
background: #888;
color: #fff;
}

.back_blue {
background: #1f54a1;
color: #fff;
}

.back_violet {
background: #4c3189;
color: #fff;
}

.back_green {
background: #38752c;
color: #fff;
}

.back_yellow {
background: #c19d22;
color: #fff;
}

.back_red {
background: #881c1d;
color: #fff;
}

/* misc classes */
*:focus {
	outline: none;
}
.clear {
	clear: both;
}

.error {
	color: #870518;
	font-weight: thick;
}

/* Pagination */
div.paginate_nav_container {
	text-align: center;
}

div.paginate_nav {
	display: inline-block;
}

a.paginate {
  text-decoration: none;
  display: inline-block;
  padding: 4px 8px;
	font-size: 0.9em;
	background-color: #ccc;
	color: #fff;
}

a.paginate:hover {
  background-color: #222;
  color: #fff;
}

a.paginate.disabled {
  pointer-events: none;
  background-color: #eee;
}
a.paginate.current {
	pointer-events: none;
}

/* Stats */
section.stats {
  width: 100%;
  height: 27em;
	overflow:auto;
	background: transparent;
}
section.stats_biz {
  width: 100%;
  height: 28em;
	overflow:auto;
	background: transparent;
}
.stat_box {
  width: auto;
	margin-right: 2em;
  height: 22em;
  background: transparent;
  /* border-bottom: 1px solid #000; Removed this because some float 1px above the line */
  border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
  display: inline-flex;
	flex-direction: row;
}
.stat_box .stat_entry {
  position: relative;
  flex: 1;
  text-align: center;
	min-width: 2.8em;
}
.stat_box .stat_entry .stat_graph {
  position: absolute;
  width: 0.5em;
  background: #1f849d;
  bottom: 0;
  left:  50%;
  transform: translateX(-50%);
}
.stat_box .stat_entry .stat_graph .stat_count {
  position: absolute;
  bottom: -1.7em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #000;
  font-weight: normal;
	font-size: 0.75em;
}

.stat_box .stat_entry .stat_graph_click .stat_click_count {
  position: absolute;
  bottom: -3.3em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #849d1f;
  font-weight: normal;
	font-size: 0.8em;
}

.stat_box .stat_entry .stat_graph_click {
  position: absolute;
  width: 0.5em;
  background: #849d1f;
  bottom: 0;
  left:  50%;
  transform: translateX(-50%);
}

.stat_box .stat_entry .stat_name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
}
.stat_name_date {
	bottom: -4.3em;
	background: #1f459d;
	margin-bottom: 1em;
}
.stat_name_date_first {
	bottom: -4.3em;
	background: #38911f;
	margin-bottom: 1em;
}
.stat_name_date_fortnite {
	bottom: -4.3em;
	background: #849d1f;
	margin-bottom: 1em;
}
.stat_name_hour {
	bottom: -5em;
	font-size: small;
	background: #444;
	margin-bottom: 1em;
}

.stat_box .stat_entry .stat_biz_name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
}
.stat_biz_name_date {
	bottom: -5.5em;
	background: #1f459d;
	margin-bottom: 1em;
}
.stat_biz_name_date_first {
	bottom: -5.5em;
	background: #9d381f;
	margin-bottom: 1em;
}
.stat_biz_name_date_fortnite {
	bottom: -5.5em;
	background: #849d1f;
	margin-bottom: 1em;
}
.stat_biz_name_hour {
	bottom: -6.4em;
	font-size: small;
	background: #444;
	margin-bottom: 1em;
}

/* Feeds */
.original_feed {
	color: #4c3189;
	font-weight: normal;
	font-style: italic;
}
.custom_feed {
	color: #198eac;
	font-weight: bold;
	font-style: normal;
}

/* Listed search */
#searchListedWrap {
	display: flex;
	justify-content: center;
}
