body {
	min-height: 100%;
	background: #fff;
	margin: 10;
	padding: 10;
	font-family: Verdana, Helvetica, sans-serif;
	text-align: left;
}

p {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	text-align: left;
	padding: 5px;
}

form p {
	text-align: center;
	float: center;
}

label {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	text-align: left;
	padding: 15px 15px 15px 20px;
}

form,
div.connected,
div.badads {
	max-width: 950px;
	background: #fafafa;
	float: center;
	padding: 30px;
	margin: 5px auto;
	border-radius: 15px;
	border: 13px solid #333;
}

input {
	float:left;
}

input[type=text] {
	font-family: Verdana, Helvetica, sans-serif, Arial;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: #222;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px;
	margin: 0px 6px;
}

textarea {
	width: 100%;
	height: 100px;
}

input[type="button"], 
input[type="submit"] {
	background-color: #147087;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	padding: 5px 10px;
	margin: 0px 6px;
	font-weight: bold;
	font-size: 0.8em;
	font-family: Verdana, Helvetica, sans-serif, Verdana;
	cursor: pointer;
}
input[type="button"]:hover, 
input[type="submit"]:hover {
	background-color: #15768f;
}

